@import "compass";
//@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');



@import "partials/variables";
@import "partials/mixin";



@import "partials/base";
@import "partials/typing_box";
@import "partials/timeline";
@import "partials/_animation_gallery";





//---------------welcome-----------------
#welcome {
	padding-bottom:36px;
	width:100%;
	height:100%;
	min-height:480px;
	max-height:1000px;
	@include background(linear-gradient(to bottom, rgba($primary-color, .6),  rgba($primary-color, 1)), url("../img/background/office.jpg"));
	background-repeat: no-repeat, no-repeat;
	background-position: 50% 0, 50% 0;
	background-size:cover;
	//background-attachment:fixed;

	.container {
		position:relative;
		height:100%;
		.welcome-nav {
			margin-top:10px;

			.logo {
				font-size:30px;
				color:#999;
				opacity:.4;
				text-decoration:none;
				@include transition(opacity .25s ease);
				&:hover {
					text-decoration:none;
					opacity:.8;
					@include transition(opacity .25s ease);
				}
			}
			.menu {
				float:right;
				@extend .my-icon;
			}
		}




		.header {
			//margin-top:8em;
			position:absolute;
			width:100%;
			top:28%;
			text-align:center;
			h1 {
				padding:8px 24px;
				margin:0;
				margin-top:5px;
				color:white;
				background:$secondary-color;
				display:inline-block;
				font-weight:900;
				letter-spacing: 0px;
				font-size: 90px;
				word-spacing: -0.5px;
				@include animation(top-fade-in .5s linear 0s both);
			}
			h3 {
				padding:8px 24px;
				font-size:36px;
				color: rgba(white,.8);
				font-weight:100;
				margin:0;
				margin-top:5px;
				@include animation(top-fade-in .5s linear .5s both);
			}
			@include medium(){
				h1 {
					padding:6px 22px;
					font-size: 80px;
				}
				h3 {
					padding:6px 22px;
					font-size:30px;
				}
			}
			@include small() {
				h1 {
					padding:4px 20px;
					font-size: 62px;
				}
				h3 {
					padding:4px 20px;
					font-size:20px;
				}
			}

		}	
	}


}

//---------------about-----------------

#about {
	overflow:hidden;
	position:relative;
	width:100%;
	height:450px;
	@include background(linear-gradient(to bottom, rgba($primary-color, .8),  rgba($primary-color, .0)), url("../img/background/single_color_desktop.jpg"));
	background-repeat: no-repeat, repeat;
	background-position: 50% 0, 50% 0;
	@include small(){
		background-position: 50% 0, 50% 0 !important;
	}
	background-size:cover;	

	>.container {
		text-align:center;
		h2 {
			margin-top:100px;
			color: white;
			font-weight:700;
			font-size:48px;
			margin-bottom:24px;
		}

		h4 {
			color: lighten(white,10);
			font-weight:100;
			font-size:18px;
		}
		.row:nth-child(1) {
			h2 {
				font-size:48px;
				color:white !important;
				@include small(){
					font-size:36px;
				}
			}
			h4 {
				color:rgba(white,.8);
			}

		}

		.row:nth-child(2) {
			margin-top:24px;

		}
	}
	.side-info .aboutme{
		overflow:hidden;
	}


}

//---------------skill-----------------

#skill {
	.skill-item {
		margin-top:48px;
	}

	.skill-icon-wrap {
		text-align:center;
		padding:5px;
		padding-top:52px;
		margin-bottom:24px;
		.skill-icon {
			display:inline-block;
			color:white;
			background:lighten($primary-color,20);
			font-size:64px;
			width:206px;
			height:206px;

			>span {
				line-height:200px;
				color:white;
			}
		}
	}

	.skill-name {
		color:lighten($primary-color,20);
		@include small(){
			text-align: center;
		}
	}
	.skill-brief {
		color:lighten($primary-color,40);
		@include small(){
			font-size:16px;
			text-align: center;
		}
	}
	.skill-graph {
		.skill-bar {
			background:lighten($primary-color,80);
			width:100%;
			height:42px;
			position:relative;
			margin:12px 0;
			.skill-progress {
				height:100%;
				width:0%;
				background:$secondary-color;
				color:white;
				font-weight:400;
				font-size:14px;
				line-height:42px;
				padding-left:14px;
				@include transition(all 1s ease);
			}
		}
	}


}



//---------------experience-----------------


#experience {

	.title-widget {
		@include title-style($primary-color,white,rgba(white,.7));
	}
	width:100%;
	min-height:1600px;
	background:$primary-color;
}


//---------------work-----------------

#work {
	
	.title-widget {
		@include title-style(white,$third-color)

	}

	//width:100%;
	//min-height:800px;
	overflow:hidden;
	background:lighten($primary-color,82);	


	.item-container {
		.gallery-item {
			.shadow-wrap {
				position:relative;
				width:100%;
				height:100%;
				opacity:0;
				@include transition(opacity .5s ease);
				.shadow {
					box-sizing:border-box;
					position:absolute;
					width:100%;
					height:100%;
					left:0;
					top:0;
					padding:24px 4px;
					background:rgba($secondary-color,.9);
					text-align:center;

					.work-title {
						font-size:24px;
						color:rgba(white,1);
					}
					.work-related {
						margin:8px 0 12px 0;
						font-size:14px;
						color:darken($secondary-color,20);
					}

					.my-button {
						font-size:18px;
						font-weight:400;
						border-width:2px;
						color:lighten($secondary-color,30);
						border-color:lighten($secondary-color,30);
						span {
							display:inline-block;
							font-size:18px;
							color:lighten($secondary-color,30);
							padding-left:6px;
						}
						&:hover {
							background:	darken($secondary-color,30);
							border-color:darken($secondary-color,30);
						}
					}
				}
				&:hover {
					opacity:1;
					@include transition(opacity .5s ease);
				}			
			}

		}

	}

}


//---------------contact-----------------

#contact {
	background: $secondary-color;

	.container {
		text-align:center;
		.title-widget {
			@include title-style(white,$secondary-color,darken($secondary-color,40));

			.title {
				font-size: 60px;
				font-weight:900;
				@include small(){
					font-size:48px;
				}
			}

			margin-bottom:48px;

		}
		.email {
			margin:0;
			margin-top:24px;
			font-size:36px;
			@include small(){
				font-size:24px;
			}
			color:white;
			//letter-spacing: 2px;
			word-spacing: -0.5px;
		}

		.social-icons {
			margin-top:24px;
			margin-bottom:18px;
			a,a:link {
				display:inline-block;
				color:white;
				text-decoration:none;
				font-size:60px;
				@include small(){
					font-size:48px;
				}
				margin:6px;
				@include transition(color .5s ease);
				&:hover {
					@include transition(color .5s ease);
					color:darken($secondary-color,20);
				}

			}
		}
		.footer {
			color:darken($secondary-color,10);
		}

	}


	//width:100%;
	overflow:hidden;
}











