$deep-blue: #2E4D64;
$sky-blue: #67B8DB;
$light-sky-blue: #88C7E3;
$orange: #D9703C;
$flat-brown: #5A4042;
$flat-dark-green: #366964;
$cloud-color: #F5F4EE;
$flat-red: #FF4539;
$light-yellow: #FBFAE6;
$cyan: #A2DED0;
$purple: #332F3E;

$flat-orange: #ea9e6a;
$flat-pink : #e17e79;
$flat-blue: #69cce9;
$flat-yellow: #fee57e;
$flat-gray: #eee;


//color
//$primary-color: #264e6a; //blue 
//$secondary-color: #e6661c; //orange
//$dark-primary-color: darken($primary-color,8); //blue 




$primary-color: #222;
$secondary-color: #ffcd00; //yellow
$third-color: #0fec77; //green
$dark-primary-color: darken($primary-color,3);